In [64]:
def even_odd(num):
    return "hellow"

In [65]:
b = num
print(b)

NameError: name 'num' is not defined

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [13]:
def my_function(name):
    print('my name is' + name)

In [14]:
my_function('jaswanth')

my name isjaswanth

In [17]:
def even_odd(num):
    if num%2 == 0:
        print('the number is even')
    else:
        print('the number is odd')

In [18]:
even_odd(10)

the number is even

In [19]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [23]:
hello('jaswanth','yaswanth',age=28)

('jaswanth', 'yaswanth')
{'age': 28}

In [25]:
def hello1(*args,**kwargs):
    print(args)
    print(kwargs)

In [29]:
hello1('20','22','25')
hello1('32','56')
hello1('42','75')

('20', '22', '25')
{}
('32', '56')
{}
('42', '75')
{}

In [33]:
def add_num(num1,num2,num3):
    return num1+num2+5

In [34]:
val = add_num(2,2,4)
print(val)

9

In [35]:
def hello(name, age=28):
    print('my name is {} & age is {}'.format(name, age))

In [36]:
hello('jaswanth')

my name is jaswanth & age is 28

In [4]:
lst = [1,2,3,4,5,6,7,8,9]

def evenoddsum(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst:
        if i%2 == 0:
            even_sum= even_sum+1
        else:
            odd_sum = odd_sum+1
    return even_sum,odd_sum

In [5]:
evenoddsum(lst)

(4, 5)

In [61]:
def even_odd_sum(l):
    if l%2 == 0:
        return True

In [62]:
l = [1,2,3,4,5,6,7,8,9]
x = map(even_odd_sum,l)

In [63]:
list(x)

TypeError: 'list' object is not callable

In [14]:
def myfunc(a, b):
  return a + b

myfunc(('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

('apple', 'banana', 'cherry', 'orange', 'lemon', 'pineapple')

In [17]:
list(map(myfunc,('apple','banana'),('orange', 'lemon')))

['appleorange', 'bananalemon']

In [24]:
def evenandodd(lst):
    if lst%2 == 0:
        return True
    else:
        return False

In [27]:
lst=[1,2,3,4,5,6,7,8,9]
x = (map(evenandodd,lst))
list(x)

[False, True, False, True, False, True, False, True, False]

In [28]:
lst=[1,2,3,4,5,6,7,8,9]
x = (filter(evenandodd,lst))
list(x)

[2, 4, 6, 8]

In [39]:
def greeting(name,age):
    return 'hello {}.welcome to community your age is {}'.format(name,age)

In [40]:
greeting('jash',29)

'hello jash.welcome to community your age is 29'

In [72]:
class Computer:
    def config(self):
        print("i5, 16gb, 1TB")
    
    def model(self):
        print("dell")

In [73]:
com1 = Computer()
com2 = Computer()

In [74]:
com1.config()
com2.model()

i5, 16gb, 1TB
dell

In [115]:
class computer:
    def __init__(self,cpu,ram,models,deliverys):
        self.cpu = cpu
        self.ram = ram
        self.models = models
        self.deliverys = deliverys
    
    def config(self):
        print("configuration is ",self.cpu,self.ram)
        
    def model(self):
        print("model of the computer is ",self.models)
        
    def delivery(self):
        print("product delivery by ",self.deliverys)

# Creating an instance of the Computer class

In [120]:
sys1 = computer('i5', 8, 'dell','amazon')
sys2 = computer('i7', 4, 'apple', 'flipkart' )

# Calling methods on the instance

In [123]:
sys1.config()
sys1.model()
sys1.delivery()

configuration is  i5 8
model of the computer is  dell
product delivery by  amazon

In [125]:
sys2.model()
sys2.config()
sys2.delivery()

model of the computer is  apple
configuration is  i7 4
product delivery by  flipkart

In [119]:
sys1.delivery()

product delivery by  amazon